@model IEnumerable<MVC_Hamburger.Models.Concrete.Kategori>

@{
    Layout = "_AdminLayout";
}

<h1 class="bg-dark text-white m-0">Kategoriler Listesi</h1>

<p class="bg-dark text-white m-0">
    <a asp-action="Create" class="btn btn-success">Yeni Oluştur</a>
</p>
<table class="table table-dark table-hover m-0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KategoriAdi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriAdi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KategoriID" class="btn btn-warning">Düzenle</a> |
                    <a asp-action="Details" asp-route-id="@item.KategoriID" class="btn btn-primary">Detay</a> |
                    <a asp-action="Delete" asp-route-id="@item.KategoriID" class="btn btn-danger">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
